<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vivant.roomee"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppBaseTheme" >
        <activity
            android:name="com.vivant.roomee.MainActivity"
            android:label="@string/welcome"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- RoomList activity -->
        <activity
            android:name="com.vivant.roomee.RoomListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_room_list"
            android:screenOrientation="sensorLandscape" >
        </activity>

        <!-- defines roomDetails activity to take fullscreen -->
        <activity
            android:name="com.vivant.roomee.RoomDetailsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_room_details"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen" >
        </activity>

        <!-- android:windowSoftInputMode="stateHidden" -->
        <activity
            android:name="com.vivant.roomee.AddMeetingActivity"
            android:configChanges="orientation|screenSize"
            android:label="New Meeting"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/AddNewMeetingTheme" />

        <service android:name="com.vivant.roomee.services.RefreshRoomService" />

        <activity
            android:name="com.vivant.roomee.DeviceActivation"
            android:label="@string/title_activity_device_activation" >
        </activity>
    </application>

</manifest>
